@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;

}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav {
    align-self: center;
    justify-self: flex-start;
    padding: 10px 10px;
    background-color: black;
    color: ghostwhite;
}